body{
    background-color: #720000;
}

.head4gb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgcadastro{
    width: 200px;
    padding: 50px;

    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;


}
h1{
  color: white;
  width: 400px;
  padding: 50px;

}
