body{
    background-color: #720000;
    font-family: Arial, Helvetica, sans-serif;
}

.head4gb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgcadastro{
    width: 200px;
    padding: 50px;

    
}
.center{
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    text-align: center;


}
h1{
  color: white;
  font-size: 50px;
  width: 500px;
  padding: 150px;

}
